body {
	text-align: center;
	font-family: arial;
}

#bar {
	display: inline-block;
	background-color: black;
}

.value {
	display: inline-block;
}

button {
	margin: 50px auto;
	display: block;
    width: 150px;
    height: 40px
}