body {
	text-align: center;
	font-family: arial;
}

.bar, .value {
	display: inline-block;
}

#graph {
	height: 400px;
}

button {
	margin: 50px auto;
	display: block;
    width: 150px;
    height: 40px
}